@import 'tailwindcss';

@theme {
  --light-text: 0 0 0;
  --dark-text: 255 255 255;

  --spacing-one: 1px;
}

@utility text-* {
  --tw-text-opacity: calc(--value(integer) / 100);
  color: rgb(var(--light-text) / var(--tw-text-opacity));
}
